#player {
    width: 50px;
    height: 50px;
    background-color: black;
    position: absolute;
    top: 250px;
    left: 250px;
}

.bullet {
    width: 15px;
    height: 15px;
    background-color: red;
    position: absolute;
    border-radius: 50%;
    z-index: 10;
    top: 10000px;
    left: 10000px;
}

#game {
    width: 800px;
    height: 600px;
    border: 3px solid black;
    position: relative;
    margin: 20px auto;
    overflow: hidden;
}

.enemy {
    width: 25px;
    height: 25px;
    background-color: blue;
    position: absolute;
    top: 10000px;
    left: 10000px;
}

#score {
    position: absolute;
    top: 10px;
    left: 10px;

    padding: 8px 14px;

    font-family: Arial, sans-serif;
    font-size: 20px;
    font-weight: bold;

    color: white;
    background: rgba(0, 0, 0, 0.6);

    border-radius: 8px;
    user-select: none;

    z-index: 1000;
}


