#player {
    width: 50px;
    height: 50px;
    background-color: black;
    position: absolute;
    top: 250px;
    left: 250px;
}

.bullet {
    width: 15px;
    height: 15px;
    background-color: red;
    position: absolute;
    border-radius: 50%;
    z-index: 10;
}

#game {
    width: 800px;
    height: 600px;
    border: 3px solid black;
    position: relative;
    margin: 20px auto;
    overflow: hidden;
}

.enemy {
    width: 25px;
    height: 25px;
    background-color: blue;
    position: absolute;
    top: 100px;
    left: 100px;
}