#player {
    width: 50px;
    height: 50px;
    background-color: black;
    position: absolute;
    top: 250px;        
    left: 250px;
}

#enemy{
    width: 25px;
    height: 25px;
    background-color: blue;
    position: absolute;
    top: 100px;
    left: 100px;
}